/* .iconButton {
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.4rem;
  margin-right: 0.2rem;
} */

.iconBtn {
  background: #007bff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 28px;
  width: fit-content;
  padding: 0.4rem;
  color: white;
  margin-right: 0.2rem;
  transition: background-color 0.3s ease;
}

.iconBtn.active {
  color: black;
}
