            
.heartbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20%;
    width: 2.5rem;
}

.heartIcon {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: gblack;
  transition: color 0.2s, transform 0.1s;
  margin-top: 5px;
}

.heartIcon:hover {
  transform: scale(1.1);
}

.liked {
  color: red;
}
