.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px 0;

  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  border-top: 1px solid #333;
}
