.profile-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background: #42342B;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.profile-icon:hover {
  background: #42342B;
  transform: scale(1);
}

.profile-icon svg {
  fill: white; /* change icon color here if needed */
}
