.tag {
  display: inline-flex;
  align-items: center;
  color: #333;
  padding: 6px 12px;
  border-radius: 10px;
  border: 0.8px solid #d0d4d9;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  padding: 0.4rem;
  gap: 0.2rem;
}

.tag:hover {
  background-color: #eceff2;
  border-color: #000; /* Slightly darker border on hover */
  transform: translateY(-2px);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px; /* Keeps icon size consistent */
  height: 18px;
}
