.tag {
  gap: 0.6rem;
  padding: 0.6rem 1rem;
  border: 2px solid #1f2937;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 1%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
