* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f7fb;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  border: 2px solid gray;
  padding: 3rem;
  border-radius: 1.5rem;
}
